<div class="container mx-auto p-4">
    <h1 class="text-3xl font-bold my-10 text-center tracking-wider underline underline-offset-8">List of Users</h1>
  
    <table class="table-auto w-full border-collapse border border-gray-300" *ngIf="users.length > 0">
      <thead>
        <tr class="bg-red-100 ">
          <th class="border border-gray-300 text-xl px-4 py-4 tracking-widest">ID</th>
          <th class="border border-gray-300 text-xl px-4 py-4 tracking-widest">Name</th>
          <th class="border border-gray-300 px-4 text-xl py-4 tracking-widest">Email</th>
        </tr>
      </thead>
      <span class="my-4"></span>
      <tbody >
        <tr *ngFor="let a of users; let i = index" [ngClass]="{'bg-yellow-100': i % 2 === 0, 'bg-white': i % 2 !== 0}" class="hover:bg-blue-100 text-center">
          <td class="border border-gray-300 px-4 py-2 text-center">{{ a.user_id }}</td>
          <td class="border border-gray-300 px-4 py-2">{{ a.user_name }}</td>
          <td class="border border-gray-300 px-4 py-2">{{ a.user_email }}</td>
        </tr>
      </tbody>
    </table>
  
    <p *ngIf="users.length === 0" class="text-center text-gray-500">
      No users available.
    </p>
  </div>
  