<div class="max-w-lg h-auto mx-auto mt-20 p-6 bg-gradient-to-r from-blue-200 to-purple-200 border-4 border-gray-900 shadow-2xl rounded-xl">
    <h2 class="text-2xl font-bold my-4 underline underline-offset-8 ">Enter Employee Credential Information</h2>
    <form (ngSubmit)="submitForm()">
      <div class="my-4 mt-10">
        <label class="block  mb-2 font-semibold">User Name</label>
        <input type="text" [(ngModel)]="user_name" name="name" class="w-full px-4 py-2 border rounded border-gray-800" required />
      </div>
      <div class="my-4">
        <label class="block  mb-2 font-semibold">Password</label>
        <input type="password" [(ngModel)]="user_password" name="password" class="w-full px-4 py-2 border rounded  border-gray-800" required />
      </div>
      <div class="my-4">
        <label class="block  mb-2 font-semibold">Role</label>
        <input type="text" [(ngModel)]="user_role" name="role" class="w-full px-4 py-2 border rounded  border-gray-800" required />
      </div>
      <div class="my-4">
        <label class="block  mb-2 font-semibold">Department</label>
        <input type="text" [(ngModel)]="user_department" name="department" class="w-full px-4 py-2 border rounded  border-gray-800" required />
      </div>
    
      <button type="submit" class="bg-gray-900 hover:bg-gray-700 text-white px-4 py-2 rounded my-4 font-semibold transition-all duration-300">Submit</button>
    </form>
    <a href="/"><button class="mr-2 bg-gray-900 hover:bg-gray-700 text-white px-4 py-2 rounded my-4 font-semibold transition-all duration-300">Full Employee Details</button></a>
    <a href="/details"><button class="mr-2 bg-gray-900 hover:bg-gray-700 text-white px-4 py-2 rounded my-4 font-semibold transition-all duration-300">Single Employee Details</button></a>
    <div *ngIf="successMessage" class="my-4 font-semibold">
      {{ successMessage }}
    </div>
    <!-- <div *ngIf="message" class="my-4 font-semibold">
      {{ message }}
    </div> -->
  </div>
  